<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugin/element-ui/index.css">
    <!-- 先引入 Vue -->
    <script src="../plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../plugin/element-ui/index.js"></script>
    <!--引入axios库-->
    <script src="../plugin/element-ui/axios.js"></script>

    <title>后台界面</title>
</head>
<body>
<div id="app">
<el-container style="height: 100%">
    <el-header>
        <a href="aback">

        </a>
    </el-header>
    <el-container>
    <el-aside width="200px">
        <!-- 树形控件-->
        <el-tree :data="data" :props="defaultProps"  @node-click="treeClick" ></el-tree>

    </el-aside>


        <el-main>
            <el-tabs v-model="activeName" type="border-card"  style="height:600px;"  @tab-remove="removeTab" >
                <el-tab-pane v-for="(item,index) in tabsData " :label="item.name" :name="item.name" :key="item.name" :closable="item.closable" >

                    <iframe :src="item.url" width="100%" height="550" frameborder=0></iframe>

                </el-tab-pane>

            </el-tabs>
        </el-main>
    </el-container>
</el-container>
</div>
<style>
    #app,.el-container {
        margin:0px;
        padding:0px;
        height:100%;
    }
    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;

    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        padding:0px;
    }

    body > .el-container {
        margin-bottom: 0px;
    }


</style>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            //定义树形结构的数据
            data:[],
            //定义数据的属性节点的名称
            defaultProps: {
                children: 'children',
                label: 'name'
            },
            tabsData:[
                {
                    name:'首页',
                    path:'welcome',
                    closable:false
                }
            ],
            //激活某个选项卡
            activeName:'首页'
        },
        //当vue组件加载完成之后会自动调用这个函数
        mounted:function(){
            //向后台发起异步请求，加载树的节点的数据
            //往后台发送ajax请求 ，校验用户名和密码
            var vue = this;
            axios.post('getUserMenus')
                .then(function (res) {
                    //  console.info(res);
                    console.info(this.data);
                    vue.data=res.data;
                })
                .catch(function (error) {
                    Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                });

        },
        methods:{
            //声明树形结构单击的事件
            treeClick:function(node){
                if(node.level_==1){
                    return ;
                }
                //声明变量  代表当前的节点在选项卡中存在不存在
                var exists= false;
                for(var index in this.tabsData){
                    if(node.name==this.tabsData[index].name){
                        exists=true;
                        break;
                    }
                }
                //如果原先选项卡中不存在 则加入
                if(!exists){
                    //往选项卡加入子选项卡
                    node.closable=true;
                    this.tabsData.push(node);
                }
                //激活选中的选项卡
                this.activeName=node.name;
            },
            //声明删除选显卡的函数
            removeTab:function(name){

                //查找name对应的选显卡的数据的下标
                for(var index in this.tabsData){
                    if(name==this.tabsData[index].name){
                        break;
                    }
                }

                //删除name对应的标签
                this.tabsData.splice(index,1);
                //激活删除选项卡的上一项
                if(index>=1){
                    this.activeName=this.tabsData[index-1].name;
                }

            }
        }

});
</script>
</html>