<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugin/element-ui/index.css">
    <!-- 先引入 Vue -->
    <script src="../plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../plugin/element-ui/index.js"></script>
    <!--引入axios库-->
    <script src="../plugin/element-ui/axios.js"></script>

    <title>后台界面</title>
</head>
<body>
<div id="app">
<el-container style="height: 100%">
    <el-header>

        BZLD房屋租赁中介公司
        <el-dropdown trigger="click" style="position: absolute; top: 20px; right: 100px;">
  <span class="el-dropdown-link">
      <img src="../image/cat.jpg" style="width: 35px;height: 35px;position: relative" class="round_icon">
      <span th:text="${uu.username}" style="font-size: 15px;position: absolute; top: 10px; left: 40px;color: #585663">asa</span>
      <i style="position: absolute; top: 12px; left: 75px;" class="el-icon-arrow-down el-icon--right"></i>
  </span>
            <el-dropdown-menu slot="dropdown" style="width: 60px;">
                <el-link  href="aback" style="padding-left: 13px">退出</el-link>

            </el-dropdown-menu>
        </el-dropdown>


    </el-header>
    <el-container>
    <el-aside width="200px">
        <!-- 树形控件-->

        <el-tree :data="data" :props="defaultProps"  @node-click="treeClick" >

        </el-tree>

    </el-aside>


        <el-main>
            <el-tabs v-model="activeName" type="border-card"  style="height:600px;"  @tab-remove="removeTab" >
                <el-tab-pane v-for="(item,index) in tabsData " :label="item.name" :name="item.name" :key="item.name" :closable="item.closable" >

                    <iframe :src="item.url" width="100%" height="550" frameborder=0></iframe>

                </el-tab-pane>

            </el-tabs>
        </el-main>
    </el-container>
</el-container>
</div>
<style>
    #app,.el-container {
        margin:0px;
        padding:0px;
        height:100%;
    }
    .el-header, .el-footer {
        background-color: #c8c9cc;
        color: #333;
        height: 50px;
    }

    .el-aside {
        background-color: #494953;
        color: #333;

    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        padding:0px;
    }

    body > .el-container {
        margin-bottom: 0px;
    }
    .round_icon{
        border-radius:100px;
    }
    .el-tree{
        color: #8c939d;
        background-color: #494953;
    }



</style>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            //定义树形结构的数据
            data:[],
            //定义数据的属性节点的名称
            defaultProps: {
                children: 'children',
                label: 'name'
            },
            tabsData:[
                {
                    name:'首页',
                    path:'welcome',
                    closable:false
                }
            ],


            //激活某个选项卡
            activeName:'首页'
        },
        //当vue组件加载完成之后会自动调用这个函数
        mounted:function(){
            //向后台发起异步请求，加载树的节点的数据
            //往后台发送ajax请求 ，校验用户名和密码
            var vue = this;
            axios.post('getUserMenus')
                .then(function (res) {
                    //  console.info(res);
                    console.info(this.data);
                    vue.data=res.data;
                })
                .catch(function (error) {
                    Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                });

        },
        methods:{
            //声明树形结构单击的事件
            treeClick:function(node){
                if(node.slevel==1){
                    return ;
                }
                //声明变量  代表当前的节点在选项卡中存在不存在
                var exists= false;
                for(var index in this.tabsData){
                    if(node.name==this.tabsData[index].name){
                        exists=true;
                        break;
                    }
                }
                //如果原先选项卡中不存在 则加入
                if(!exists){
                    //往选项卡加入子选项卡
                    node.closable=true;
                    this.tabsData.push(node);
                }
                //激活选中的选项卡
                this.activeName=node.name;
            },
            //声明删除选显卡的函数
            removeTab:function(name){

                //查找name对应的选显卡的数据的下标
                for(var index in this.tabsData){
                    if(name==this.tabsData[index].name){
                        break;
                    }
                }

                //删除name对应的标签
                this.tabsData.splice(index,1);
                //激活删除选项卡的上一项
                if(index>=1){
                    this.activeName=this.tabsData[index-1].name;
                }

            }
        }

});
</script>
</html>