<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>合同</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/plugin/element-ui/index.css}">
    <!--引入vue-->
    <script th:src="@{/plugin/element-ui/vue.js}"></script>
    <!-- 引入组件库 -->
    <script th:src="@{/plugin/element-ui/index.js}"></script>
    <script th:src="@{/plugin/element-ui/axios.js}"></script>
</head>
<body>
    <h2>房东与中介的租赁合同</h2>
    出租方：<span th:text="${fd.get(0).name}"></span>&nbsp;&nbsp;&nbsp;&nbsp;以下简称甲方
    <br>

    承租方：<span style="color:red;">bzld公司</span>，以下简称乙方
    <br>

    根据《中华人民共和国》及有关规定，为明确甲、乙双方的权利义务关系，经双方协商一致，签订本合同。
    <br>
    第一条　甲方将自有的坐落在<span th:text="${apt.get(0).address}"></span>，使用面积<span th:text="${apt.get(0).area}"></span>平方米.
    <br>
    第二条　租赁期限
    <br>
    租赁期共___个月，甲方从<span th:text="${pay.get(0).date1}"></span>起将出租房屋交付乙方使用，至<span th:text="${pay.get(0).date2}"></span>收回。
    <br>
    乙方有下列情形之一的，甲方可以终止合同，收回房屋：
    <br>
    1.擅自将房屋转租、分租、转让、转借、联营、入股或与他人调剂交换的;
    <br>
    2.利用承租房屋进行非法活动，损害公共利益的;
    <br>
    合同期满后，如甲方仍继续出租房屋的，乙方拥有优先承租权。
    <br>
    租赁合同因期满而终止时，如乙方确实无法找到房屋，可与甲方协商酌情延长租赁期限。
    <br>
    第三条　租金和租金交纳期限、税费和税费交纳方式
    <br>
    付款方式为<span th:text="${pay.get(0).pway}"> </span> 甲乙双方议定月租金<span th:text="${pay.get(0).money}"></span>元。
    <br>
    甲方收取租金时必须出具由税务机关或县以上财政部门监制的收租凭证。无合法收租凭证的乙方可以拒付。
    <br>
    甲乙双方按规定的税率和标准交纳房产租赁税费，交纳方式按下列第_1_款执行： 1.有关税法和镇政发(90)第34号文件规定比例由甲、乙方各自负担; 2.甲、乙双方议定。
    <br>
    第四条　租赁期间的房屋修缮和装饰
    <br>

    修缮房屋是甲方的义务。甲方对出租房屋及其设备应定期检查，及时修缮，做到不漏、不淹、三通(户内上水、下水、照明电)和门窗好，以保障乙方安全正常使用。
    <br>

    修缮范围和标准按城建部(87)城住公字第13号通知执行。
    <br>

    甲方修缮房屋时，乙方应积极协助，不得阻挠施工。
    <br>

    出租房屋的修缮，经甲乙双方商定，采取下述第_4_款办法处理：
    <br>

    1.按规定的维修范围，由甲方出资并组织施工;
    <br>

    2.由乙方在甲方允诺的维修范围和工程项目内，先行垫支维修费并组织施工，竣工后，其维修费用凭正式发票在乙方应交纳的房租中分___次扣除;
    <br>

    3.由乙方负责维修;
    <br>

    4.甲乙双方议定。
    <br>

    乙方因使用需要，在不影响房屋结构的前提下，可以对承租房屋进行装饰，但其规模、范围、工艺、用料等均应事先得到甲方同意后方可施工。对装饰物的工料费和租赁期满后的权属处理，双方议定：工料费由___方承担(　　　); 所有权属___方(　　　)。
    <br>

    第五条　租赁双方的变更
    <br>

    1.如甲方按法定手续程序将房产所有权转移给第三方时，在无约定的情况下，本合同对新的房产所有者继续有效;
    <br>

    2.甲方出售房屋，须在三个月前书面通知乙方，在同等条件下，乙方有优先购买权;
    <br>

    3.乙方需要与第三人互换用房时，应事先征得甲方同意，甲方应当支持乙方的合理要求。
    <br>



    第七条　免责条件
    <br>
    1.房屋如因不可抗拒的原因导致损毁或造成乙方损失的，甲乙双方互不承担责任。
    <br>

    2.因市政建设需要拆除或改造已租赁的房屋，使甲乙双方造成损失，互不承担责任。
    <br>

    因上述原因而终止合同的，租金按实际使用时间计算，多退少补。
    <br>

    第八条　争议解决的方式
    <br>

    本合同在履行中如发生争议，双方应协商解决;协商不成时，任何一方均可向房屋租赁管理机关申请调解，调解无效时，可向市工商行政管理局经济合同仲裁委员会申请仲裁，也可以向人民法院起诉。
    <br>

    第九条 其他约定事宜
    <br>

    第十条　本合同未尽事宜，甲乙双方可共同协商，签订补充协议。补充协议报送市房屋租赁管理机关认可并报有关部门备案后，与本合同具有同等效力。
    <br>

    本合同一式4份，其中正本2份，甲乙方各执1份;副本2份，送市房管局、工商局备案。
    <br>

    签字（盖章）
    <br>

    合同有效期限：　至　年　月　日
<style>
    span{
        color: red;
    }
</style>
</body>
</html>