<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>需要支付的合同</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" th:href="@{/plugin/element-ui/index.css}">
    <!--引入vue-->
    <script th:src="@{/plugin/element-ui/vue.js}"></script>
    <!-- 引入组件库 -->
    <script th:src="@{/plugin/element-ui/index.js}"></script>
    <script th:src="@{/plugin/element-ui/axios.js}"></script>
    <style>
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="app">
        查看需要付款的单子
        <el-date-picker type="date" placeholder="选择日期" v-model="keyword" style="width: 150px;" value-format="yyyy-MM-dd" ></el-date-picker>

    <el-button type="success" @click="search"  icon="el-icon-search">搜索</el-button>
    <el-table
            :data="tableData"
            style="width: 100%">
        <el-table-column label="合同编号" prop="cid" width="180px"></el-table-column>
        <el-table-column label="房源编号" prop="aptNum">
            <template slot-scope="scope">
                <el-popover trigger="hover" placement="top">
                    <p>房源住址: {{ scope.row.apartment.address }}</p>
                    <p>租期时间: {{ scope.row.peroid }}</p>
                    <div slot="reference" class="name-wrapper">
                        <el-tag size="medium">{{ scope.row.aptNum }}</el-tag>
                    </div>
                </el-popover>
            </template>
        </el-table-column>
      <!--  <el-table-column label="房源地址" prop="district"></el-table-column>-->
        <el-table-column label="房东姓名" prop="user.name"></el-table-column>
      <!--  <el-table-column label="房东电话" prop="bedrooms"></el-table-column>-->
        <el-table-column label="付款方式" prop="pway"></el-table-column>
       <!-- <el-table-column label="租期时间" prop="livingrooms"></el-table-column>-->
        <el-table-column label="上次交易时间" prop="lastTime"></el-table-column>
        <el-table-column label="下次交易时间" prop="nextTime"></el-table-column>
        <el-table-column label="租金" prop="needToPay"></el-table-column>
        <el-table-column label="合同终止时间" prop="date2"></el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="success"
                        @click="handleEdit(scope.index, scope.row)"
                        style="background-color: red">
                支付租金</el-button>

            </template>
        </el-table-column>
    </el-table>

    <!--编辑用户的对话框-->
    <el-dialog
            :title="title"
            :visible.sync="DialogVisible"
            width="30%"
>
        <form  action="pay" method=post  >
            <div id="body1"  name="divcontent">
                <dl class="content">
                    <dt>支付订单号 ：</dt>
                    <dd>
                        <input name="WIDout_trade_no" :value="aptOrder"/>
                    </dd>
                    <dt>订单名称 ：</dt>
                    <dd>
                        <input  name="WIDsubject" />
                    </dd>

                    <dt>付款金额 ：</dt>
                    <dd>
                        <input  name="WIDtotal_amount" :value="ordermoney" />
                    </dd>

                    <dt>商品描述：</dt>
                    <dd>
                        <input  name="WIDbody" />
                    </dd>
                    <hr class="one_line">
                    <dt></dt>
                    <dd id="btn-dd">
                        <input type="submit" value="提交">
                    </dd>
                </dl>
            </div>
        </form>
    </el-dialog>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:function(){
            return{
                tableData: [{}],
                DialogVisible: false,
                keyword:'',
                aptOrder:'',
                ordermoney:''

            }
        },
        mounted:function(){
              this.loadTableData();
        },
        methods: {
            handleEdit(index, row){
                this.DialogVisible=true;
                this.loadTableData();
               /* var a=row.aptNum;
                alert(a);*/
                /*a.append(row.aptNum);*/
                // console.info(aptNum);
                //  var params = new URLSearchParams();
                //  params.append('aptNum',this.form);
                //  params.append('id',row.id);
                // alert(params);

                this.aptOrder=`${row.aptNum}${row.nextTime}`;

                this.ordermoney=row.needToPay;

    },
            loadTableData(){
                var vue = this;
                axios.get('findowercontract',{params:{keyword:this.keyword}})
                    .then(function(res){
                        console.info(res.data);
                        vue.tableData = res.data;
                    })
                    .catch(function(error){
                         console.info(error);
                         Vue.prototype.$message.error('服务器产生异常');
                    });
            },
             search(){
                 this.loadTableData();
             }
         }
    })
</script>
</html>
