<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugin/element-ui/index.css">
    <!--引入vue-->
    <script src="plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="plugin/element-ui/index.js"></script>
    <script src="plugin/element-ui/axios.js"></script>
    <style>
        .content{
            width: 1000px;
            margin: 0 auto;
        }
        .el-tabs__nav-scroll{
            background-color: white;
        }
        .el-tabs__content{
            height: 500px;
        }
        .el-tabs,.el-tabs--left{
            height: 500px;
        }
        .personalInfo{
            width: 200px;
        }
         .demo-table-expand {
             font-size: 0;
         }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
个人中心
<div id="app">
    <div class="content">
        <el-tabs :tab-position="personalTab" style="height: 400px;">
            <el-tab-pane label="账号管理">
                <el-tabs :tab-position="accountTab" style="height: 400px;">
                    <el-tab-pane label="我的信息">
                        <div class="personalInfo">
                            <el-form :model="updatePersonalInfoForm" :rules="updatePersonalInfoRules" ref="updatePersonalInfoForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="姓名" prop="name">
                                    <el-input class="personalInfo" th:value="${session.session_user.name}" suffix-icon="el-icon-user" disabled="true" ></el-input>
                                </el-form-item>
                                <el-form-item label="电话" prop="tel">
                                        <el-input class="personalInfo" v-model="updatePersonalInfoForm.tel" th:value="${session.session_user.tel}" suffix-icon="el-icon-mobile-phone"></el-input>
                                </el-form-item>
                                <el-form-item label="邮箱" prop="email">
                                    <el-input class="personalInfo" th:value="${session.session_user.username}" suffix-icon="el-icon-message" disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item label="身份证" prop="identification">
                                    <el-input class="personalInfo" th:value="${session.session_user.identification}" suffix-icon="el-icon-coordinate" disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="updateTel('updatePersonalInfoForm')">确认修改联系方式</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="修改密码">
                        <div class="changePassword">
                            <el-form :model="changePasswordForm" :rules="changePasswordRules" ref="changePasswordForm" label-width="100px" class="demo-ruleForm">
                                <el-form-item label="输入旧密码" prop="oldPassword">
                                    <el-input v-model="changePasswordForm.oldPassword"></el-input>
                                </el-form-item>
                                <el-form-item label="输入新密码" prop="newPassword">
                                    <el-input v-model="changePasswordForm.oldPassword"></el-input>
                                </el-form-item>
                                <el-form-item label="重新输入新密码" prop="confirmPassword">
                                    <el-input v-model="changePasswordForm.confirmPassword"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="updatePassword('changePasswordForm')">确认修改密码</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-tab-pane>
            <el-tab-pane label="我的房子" >
                <el-tabs :tab-position="myAptTab" @tab-click="showMyApt">
                    <el-tab-pane label="我是房东" >
                        <el-table
                                :data="myApt1"
                                style="width: 100%">
                            <el-table-column type="expand">
                                <template slot-scope="props">
                                    <el-form label-position="left" inline class="demo-table-expand">
                                        <el-form-item label="地址">
                                            <span>{{ props.row.address }}</span>
                                        </el-form-item>
                                        <el-form-item label="户型">
                                            <span>{{ props.row.bedrooms }}室/{{ props.row.livingrooms }}厅/{{ props.row.bathrooms }}卫</span>
                                        </el-form-item>
                                        <el-form-item label="面积">
                                            <span>{{ props.row.area }}</span>
                                        </el-form-item>
                                        <el-form-item label="经纪人姓名">
                                            <span>{{ props.row.uid }}</span>
                                        </el-form-item>
                                        <el-form-item label="经纪人电话">
                                            <span>{{ props.row.uid }}</span>
                                        </el-form-item>
                                    </el-form>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    label="房源编号"
                                    prop="aptNum">
                            </el-table-column>
                            <el-table-column
                                    label="城市"
                                    prop="city">
                            </el-table-column>
                            <el-table-column
                                    label="区"
                                    prop="district">
                            </el-table-column>
                            <el-table-column
                                    label="社区"
                                    prop="community">
                            </el-table-column>
                            <el-table-column
                                    label="状态"
                                    prop="state">
                            </el-table-column>
                            <el-table-column label="我的身份">房东</el-table-column>
                        </el-table>
                    </el-tab-pane>
                    <el-tab-pane label="我是租客" @click="showMyApt2">我是租客</el-tab-pane>
                </el-tabs>
            </el-tab-pane>
            <el-tab-pane label="我的合同">我的合同</el-tab-pane>
            <el-tab-pane label="在线支付">在线支付</el-tab-pane>
            <el-tab-pane label="交易记录">交易记录</el-tab-pane>
        </el-tabs>
    </div>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data(){
            return {
                personalTab:'left',
                accountTab:'top',
                myAptTab:'top',
                myApt1:[{
                   }],
                changePasswordForm:{
                    oldPassword:'',
                    newPassword:'',
                    confirmPassword:''
                },
                updatePersonalInfoForm:{

                },
                changePasswordRules:{
                    oldPassword: [
                        { required: true, message: '请输入旧密码', trigger: 'blur' }
                    ],newPassword: [
                        { required: true, message: '请输入新密码', trigger: 'blur' },
                        { min: 5, max: 8, message: '长度在 5 到 8 个字符', trigger: 'blur' }
                    ],confirmPassword:[
                        {}
                    ]
                },updatePersonalInfoRules:{

                }
            }
        },
        mounted(){
            let _this = this;
            axios.post('loadPersonalInfo',this.ruleForm)
                .then(function (res) {
                    //ajax请求后返回的res为json数据
                    //res.data通过vue语法赋值给声明的testData
                    _this.testData = res.data;
                })
        },
        methods:{
            updatePassword(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            updateTel(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                        axios.post('updateTel',this.updatePersonalInfoForm)
                            .then(function (res) {
                                if(res.data.success){
                                    alert(11);
                                }
                                else{
                                    Vue.prototype.$message.error(res.data.error);
                                }
                            })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            showMyApt(){
                var vue = this;
                axios.post('showAllMyApt')
                    .then(function(res){
                        console.info(this.data);
                        vue.myApt1 = res.data;
                    })
            }
        }
    })
</script>
</html>