body{
    background: url("../image/signinBody.jpg") no-repeat;
    background-size: cover;
    opacity: 0.9;
}
#singin{
    border: 0px solid red;
    width: 600px;
    height: 480px;
    margin-top: 60px;
    margin-left: 889px;
    opacity: 0.99;
}
.el-card__header{
    color:red;
    font-size: 20px;
    margin: 0px 134px;
}
.box-card{
    padding: 0 30px;
    height: 100%;
    width: 418px;
}