<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/project/plugin/element-ui/index.css">
    <!-- 先引入 Vue -->
    <script src="/project/plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="/project/plugin/element-ui/index.js"></script>

    <script src="/project/plugin/element-ui/axios.js"></script>
    <title>房源审核</title>
</head>
<body>
<div id="app">
    <el-table  :data="tableData" style="width: 100%;height:1000px;">
        <el-table-column  prop="aptNum" label="房源编号"  align="center"></el-table-column>
        <el-table-column  prop="city" label="城市"  align="center"></el-table-column>
        <el-table-column  prop="district" label="区"  align="center"></el-table-column>
        <el-table-column  prop="community" label="小区"  align="center"></el-table-column>
        <el-table-column  prop="facing" label="朝向"  align="center"></el-table-column>
        <el-table-column  prop="area" label="面积"  align="center"></el-table-column>
        <el-table-column  prop="name" label="房东姓名" align="center"></el-table-column>
        <el-table-column  prop="tel" label="房东联系方式" align="center"></el-table-column>
        <el-table-column  prop="statusname" label="审核状态" align="center"></el-table-column>
        <el-table-column  prop="aid" label="经纪人ID" align="center"></el-table-column>
        <el-table-column width="300px" label="操作" align="center">
            <template slot-scope="scope">
                <!--<el-button size="mini" @click="query(scope.$index,scope.row)">查看详细信息</el-button>-->
                <el-button size="mini" type="success" @click="pass(scope.$index,scope.row)">审核通过</el-button>
                <el-button size="mini" type="warning" @click="bindingbutton(scope.$index,scope.row)">绑定经纪人</el-button>
            </template>
        </el-table-column>
    </el-table>
      <!--绑定经纪人的对话框-->
    <el-dialog title="绑定经纪人" :visible.sync="dialogVisible" width="45%">
        <el-table  stripe border height="450" :data="table" style="width: 100%">
            <el-table-column width="100px" prop="id" label="经纪人编号"  align="center"></el-table-column>
            <el-table-column width="100px" prop="name" label="经纪人姓名"  align="center"></el-table-column>
            <el-table-column width="160px" prop="telephone" label="经纪人联系方式"  align="center"></el-table-column>
                <el-table-column width="140px" label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="binding(scope.$index,scope.row)">确认经纪人</el-button>
                    </template>
                </el-table-column>
        </el-table>
    </el-dialog>
    <!--<el-dialog title="提示" :visible.sync="dialogVisible1" width="30%">-->
        <!--<el-form>-->
            <!--<el-form-item label="电梯:" prop="elevator"></el-form-item>-->
            <!--<el-form-item label="停车位:" prop="form.parking"></el-form-item>-->
            <!--<el-form-item label="宽带:" prop="form.internet"></el-form-item>-->
            <!--<el-form-item label="床:" prop="form.bed"></el-form-item>-->
            <!--<el-form-item label="沙发:" prop="form.sofa"></el-form-item>-->
            <!--<el-form-item label="椅子:" prop="form.chair"></el-form-item>-->
            <!--<el-form-item label="电视:" prop="form.TV"></el-form-item>-->
            <!--<el-form-item label="空调:" prop="form.AC"></el-form-item>-->
            <!--<el-form-item label="冰箱:" prop="form.refrigerator"></el-form-item>-->
            <!--<el-form-item label="洗衣机:" prop="form.washer"></el-form-item>-->
            <!--<el-form-item label="燃气:" prop="form.gas"></el-form-item>-->
            <!--<el-form-item label="阳台:" prop="form.colony"></el-form-item>-->
        <!--</el-form>-->
    <!--</el-dialog>-->
</div>
<style>
    #app{
        width: 100%;
        height: 100%;
    }
</style>
</body>
<script>
    new Vue({
       el:'#app',
        data:{
            tableData: [],
            table:[],
            //对话框
            dialogVisible:false,
           // form:[]
        },
        //页面显示
        mounted:function () {
            var vue = this;
            axios.post("auditlistAll")
                .then(function (res) {
                    console.info(this.data);
                    vue.tableData=res.data;
                })
                .catch(function (error) {
                    Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                });
        },
        //弹窗绑定页面
        methods:{
            bindingbutton:function(index,row) {
                var vue = this;
                this.title='绑定经纪人';
                this.dialogVisible=true;
                this.form=row.aptNum;
                console.log(row);
                // var apt = row.aptNum
                // alert(apt)
                // console.info(apt);
                axios.post("bindingbutton",row.aptNum)
                    .then(function (res) {
                        vue.table=res.data;
                    })
                    .catch(function (error) {
                        Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                    });
            },
            //绑定经纪人
            binding:function(index,row){
                // console.info(aptNum);
                //  var params = new URLSearchParams();
                //  params.append('aptNum',this.form);
                //  params.append('id',row.id);
               // alert(params);
                axios.get("binding",{params:{aptNum:this.form,id:row.id}})
                    .then(function (res) {
                        console.info(this.data);
                        //vue.table=res.data;
                        location.reload()
                    })
                    .catch(function (error) {
                        Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                    });
            },
            //审核通过
            pass:function(index,row) {
                var vue = this;
                alert(row.aptNum)
                axios.post("pass",row.aptNum)
                    .then(function (res) {
                        location.reload()
                    })
                    .catch(function (error) {
                        Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                    });
            }
            // query(index, row){
            //     var vue = this;
            //     this.dialogVisible=true;
            //     alert(row.aptNum);
            //     axios.post('query',row.aptNum)
            //         .then(function (res) {
            //             console.info(this.data);
            //             vue.form=res.data;
            //         })
            //         .catch(function (error) {
            //             Vue.prototype.$message.error("服务器产生异常，请联系管理员");
            //         });
                //this.title='编辑用户';
                //this.form=row;
           // },
        }
    });
</script>
</html>