<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/project/plugin/element-ui/index.css">
    <!-- 先引入 Vue -->
    <script src="/project/plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 margin-top: 10px-->
    <script src="/project/plugin/element-ui/index.js"></script>

    <script src="/project/plugin/element-ui/axios.js"></script>
    <title>钥匙管理</title>
</head>
<body>
<div id="app">
    <div style="margin-bottom:10px;">
        <el-button  type="primary" @click="showEditWin">添加钥匙</el-button>
    </div>
    <div>
    <el-table :data="tableData" style="width: 100%;height:535px;">
        <el-table-column  prop="aptNum" label="房源编号"  align="center">
        </el-table-column>
        <el-table-column  prop="address" label="地址"  align="center">
        </el-table-column>
        <el-table-column  prop="name" label="经纪人姓名"  align="center">
        </el-table-column>
        <!--<el-table-column prop="telephone" label="经纪人联系方式"  align="center">
        </el-table-column>-->
        <el-table-column label="钥匙状态"  align="center">
            <template slot-scope="scope" >
                <el-button v-if="scope.row.keystate == 0"  size="mini" type="success">在店内</el-button>
                <el-button v-if="scope.row.keystate ==1"  size="mini"
                           type="danger">已借出</el-button>
            </template>
            <!--th:if="${keystate}"<span th:case="0">在库</span>-->
            <!--<span th:case="1">借出</span>-->
            <!--<template slot-scope="scope" th:switch="${keystate}"><span>正在使用</span>-->
                <!--<el-tag>-->
                        <!--&lt;!&ndash;:type="scope.row.tag === '家' ? 'primary' : 'success'"-->
                        <!--filter-placement="bottom-end"-->
                        <!--close-transition-->
                         <!--prop="keystate"-->
                        <!--:filter-method="filterTag"&ndash;&gt;-->
                        <!--&lt;!&ndash;{{scope.row.keystate}}&ndash;&gt;-->
                        <!--</el-tag>-->
            <!--</template>-->
        </el-table-column>
        <el-table-column  prop="date" label="调度时间"  align="center">
        </el-table-column>
        <el-table-column  label="操作" align="center">
            <template slot-scope="scope">
                <el-button size="mini" type="warning" @click="borrow(scope.$index,scope.row)">借出</el-button>
                <el-button size="mini" type="success" @click="repay(scope.$index,scope.row)">归还</el-button>
            </template>
        </el-table-column>
    </el-table>
    <!--添加框 -->
    <el-dialog  :visible.sync="dialogVisible" width="35%">
        <el-form ref="form" :model="form" label-width="80px" style="margin: auto">
            <el-form-item label="房源编号:" prop="aptNum">
                <el-input style="width: 200px" v-model="form.aptNum"></el-input>
            </el-form-item>
           <!-- <el-form-item label="地址:" prop="address">
                <el-input style="width: 200px" v-model="form.address" ></el-input>
            </el-form-item>-->
            <el-form-item label="经纪人ID:" prop="aid">
                <el-input style="width: 200px" v-model="form.aid" ></el-input>
            </el-form-item>
            <!--<el-form-item label="经纪人联系方式:" prop="contact">
                <el-input style="width: 200px" v-model="form.contact" ></el-input>
            </el-form-item>-->
            <!--<el-form-item label="钥匙状态:" prop="keystate">
                <el-input style="width: 200px" v-model="form.keystate">
                </el-input>-->
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="resetForm('form')">取 消</el-button>
            <el-button type="primary" @click="onSubmit('form')">确 定</el-button>
        </span>
    </el-dialog>
</div>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            tableData: [],
            //对话框
            dialogVisible:false,
            form:{
                aptNum:'',
                address:'',
                aid:'',
                contact:'',
                keystate:''
            },
        },
        //显示数据
        mounted:function () {
            var vue = this;
            axios.post("recordlistAll")
                .then(function (res) {
                    console.info(this.data);
                    vue.tableData=res.data;
                })
                .catch(function (error) {
                    Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                });
        },
        methods: {
            formatter(row,colum){
              return row.address;
            },
            filterTag(value,row){
                return row.keystate == keystate;
            },
            showEditWin:function(){
                this.title='添加';
                this.dialogVisible=true;
            },
            //添加新的钥匙信息
            onSubmit:function(){
                var vue = this;
                // alert(this.form)
                axios.post("addrecord",this.form)
                    .then(function (res) {
                        location.reload()
                    })
                    .catch(function (error) {
                        Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                    });
            },
            //钥匙借出
            borrow:function(index,row) {
                var vue = this;
                alert(row.aptNum)
                axios.post("recordborrow",row.aptNum)
                    .then(function (res) {
                        location.reload()
                    })
                    .catch(function (error) {
                        Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                    });
            },
            //归还
            repay:function(index,row) {
                var vue = this;
                alert(row.aptNum)
                axios.post("recordrepay",row.aptNum)
                    .then(function (res) {
                        location.reload()
                    })
                    .catch(function (error) {
                        Vue.prototype.$message.error("服务器产生异常，请联系管理员");
                    });
            },
        },
    });
</script>
</html>