<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="static/plugin/element-ui/index.js">
    <!-- 先引入 Vue -->
    <script src="static/plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="static/plugin/element-ui/index.css"></script>

</head>
<body>
<div id="demand">
    <el-form>
            <el-form-item>
                <div id="app">
            <el-input  v-model="input" placeholder="请输入内容"></el-input>
                </div>
                <div id="a">
                    <el-button type="success" round>查询</el-button>
                </div>
        </el-form-item>
    </el-form>
</div>
<div>
    <form>
    <div id="cond">
        <el-breadcrumb separator="">
            <el-breadcrumb-item>租房方式&nbsp;&nbsp;:</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>不限</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>合租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>整租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>豪宅</el-breadcrumb-item>
            <el-breadcrumb-item  border-bottom></el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div id="cond1">
        <el-breadcrumb separator="">
            <el-breadcrumb-item>租房方式&nbsp;&nbsp;:</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>不限</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>合租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>整租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>豪宅</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
        <div id="cond2">
        <el-breadcrumb separator="">
            <el-breadcrumb-item><a>租房方式&nbsp;&nbsp;:</a></el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item><a>不限</a></el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>合租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>整租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>豪宅</el-breadcrumb-item>
        </el-breadcrumb>
        </div>
        <div id="cond3">
        <el-breadcrumb separator="">
            <el-breadcrumb-item>租房方式&nbsp;&nbsp;:</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>不限</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>合租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>整租</el-breadcrumb-item>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <el-breadcrumb-item>豪宅</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    </form>
<div id="content" style="margin: auto;color: #3a8ee6">
    <el-row>
        <el-col :span="8" v-for="(o, index) in 2" :key="o" :offset="index > 0 ? 2 : 0">
            <el-card :body-style="{ padding: '0px' }">
                <img src="plugin/element-ui/imags/default.gif"/>
                <div class="bottom clearfix" >
                    <el-button type="text" class="button">房子主题</el-button>
                    <div style="padding: 14px;">
                        <span>突出点</span>
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>
</div>
<style>
    #demand,.el-a{
        margin-top: 140px;
    }
    #app,.el-b{
        margin: auto;
        width: 600px;
        height: 400px;
    }
    #a,.el-c{
        margin-top: -400px;
        margin-left: 1400px;
        /*width: 300px;*/
        /*height: 200px;*/
    }
    #cond,.el-d{
        margin-left: 760px;
    }
    #cond1,.el-d1{
        margin-left: 760px;
    }
    #cond2,.el-d2{
        margin-left: 760px;
    }
    #cond3,.el-d3{
        margin-left: 760px;
    }
    #content,.com{
        width: 600px;
    }
</style>
</body>
<script>
   new Vue({
       el:'#demand',
           data() {
               return {
                   input: ''
               }
           }
   })
</script>
</html>