<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <link rel="stylesheet" href="plugin/element-ui/index.css">
    <script src="plugin/element-ui/vue.js"></script>
    <script src="plugin/element-ui/index.js"></script>
    <script src="plugin/element-ui/axios.js"></script>
    <link rel="stylesheet" href="css/signin.css">
</head>
<body>
<!--注册页面卡片-->
    <div id="singin" >
        <el-card class="box-card"  header="用户注册" >
            <el-form ref="form" :rules="rules" :model="form" label-width="90px">
                <el-form-item label="邮箱账号:" prop="username">
                    <el-input v-model="form.username" ></el-input>
                </el-form-item>
                <el-form-item label="姓名:" prop="name">
                    <el-input v-model="form.name" type="text"></el-input>
                </el-form-item>
                <el-form-item label="密码:" prop="password">
                    <el-input v-model="form.password" type="password" show-password></el-input>
                </el-form-item>
                <el-form-item label="确认密码:" prop="repassword">
                    <el-input v-model="form.repassword" type="password"></el-input>
                </el-form-item>
                <el-form-item label="电话:" prop="tel">
                    <el-input v-model="form.tel" type="text"  maxlength="11" show-word-limit></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary"  @click="onSubmit('form')" style="width:100px; margin:26px 36px ; background:#ec5c11;">注册</el-button>
                    <el-button type="primary"  @click="resetForm('form')"   style="width:100px; background:#ec5c11;">重置</el-button>
                </el-form-item>
            </el-form>
        </el-card>
    </div>
    <!--注册页面卡片-->
</body>
    <script>


        new Vue({
            el: '#singin',

            //声明校验规则
            computed: {
                rules () {
                    var validatePass2 = (rule, value, callback) => {
                        if (value !== this.form.password) {
                            callback(new Error('两次输入密码不一致!'));
                        } else {
                            callback();
                        }
                    };
                    return {
                        username:[
                            { required: true, message: '请输入邮箱', trigger: 'blur' },
                            { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
                        ],
                        name:[
                            { required: true, message: '请输入用户名', trigger: 'blur' },
                            { min: 3, max: 10, message: '长度在 3 到 10 个字符', trigger: 'blur' }
                        ],
                        password:[
                            { required: true, message: '请输入密码', trigger: 'blur' }
                        ],
                        repassword:[
                            { required: true, message: '请再次输入密码', trigger: 'blur' },
                            { validator: validatePass2, trigger: "blur" }
                        ],
                        tel:[
                            { required: true, message: '请输入电话号吗', trigger: 'blur' },
                            { pattern:/^[1][3,4,5,7,8][0-9]{9}$/, message: '手机号码错误', trigger: 'blur' }
                        ]
                    }
                }
            },
            data: {
                form:{
                    email:'',
                    username:'',
                    password:'',
                    repassword:'',
                    tel:''
                }

            },
            //事件
            methods:{
                //登录的事件
                onSubmit:function(formName){
                    this.$refs[formName].validate((valid) => {
                        if (!valid) {
                            Vue.prototype.$message.error('请检查表单信息');
                            return false;
                        } else {
                            //往后台发送ajax请求 ，校验用户名和密码
                            axios.post('user/signinUser',this.form)
                                .then(function (res) {
                                    console.log(res);
                                    if(res.data.success){
                                        Vue.prototype.$message.success("注册成功");
                                        window.location.href="index";
                                    }else {
                                        Vue.prototype.$message.error(res.data.error);
                                    }
                                })
                        }
                    });
                },
                //重置的事件
                resetForm:function(formName){
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>

</html>