<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布房源</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugin/element-ui/index.css">
    <!--引入vue-->
    <script src="plugin/element-ui/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="plugin/element-ui/index.js"></script>
    <script src="plugin/element-ui/axios.js"></script>
    <style>
        #app{
            width: 60%;
            margin: auto;
        }
        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }

        .box-card {
            width: 480px;
        }
        .div1{
            display: none;
            background: red;
        }
        .div2{
            display: none;
        }
        .div3{
            display: none;
        }
        .div4{
            display: none;
        }
        .btNext{
            display: none;
        }
        .btReturn{
            display: none;
        }
    </style>
</head>
<body>
<div id="app">

    <el-steps :active="active" finish-status="success" simple style="margin-top: 20px; width:656px ; padding: 13px 74px">
        <el-step title="步骤 1" ></el-step>
        <el-step title="步骤 2" ></el-step>
        <el-step title="步骤 3" ></el-step>
        <el-step title="步骤 4" ></el-step>
    </el-steps>

    <el-form :model="ruleForm" :rules="rules" ref="ruleForm"  label-width="100px" class="demo-ruleForm">
        <el-card class="box-card" style="width: 800px;height: 465px" v-bind:class="house1" >
            <div slot="header" class="clearfix">
                <span>房屋基本信息</span>
                <i style="float: right;" class="el-icon-document"></i>
            </div>
            <div  class="text item" >
                <div class="fisrtRow">
                    <el-form-item  label="城市" prop="city" style="float: left;">
                        <el-input v-model="ruleForm.city" style="width: 100px;"></el-input>
                    </el-form-item>
                    <el-form-item label="所在区" prop="district" style="float: left;">
                        <el-input v-model="ruleForm.district" style="width: 100px;"></el-input>
                    </el-form-item>
                    <el-form-item label="小区名" prop="community" style="float: left;">
                        <el-input v-model="ruleForm.community" style="width: 200px;"></el-input>
                    </el-form-item>
                    <div style="clear:both;"></div>
                </div>
                <div class="secondRow">
                    <el-form-item prop="bedrooms"style="float: left;" label="户型">
                        <el-input v-model="ruleForm.bedrooms" style="width: 100px;"><span slot="suffix">室</span></el-input>
                    </el-form-item>
                    <el-form-item prop="bathrooms"style="float: left;">
                        <el-input v-model="ruleForm.bathrooms" style="width: 100px;"><span slot="suffix">卫</span></el-input>
                    </el-form-item>
                    <el-form-item prop="livingrooms"style="float: left;">
                        <el-input v-model="ruleForm.livingrooms" style="width: 100px;"><span slot="suffix">厅</span></el-input>
                    </el-form-item>
                    <div style="clear: both;"></div>
                </div>
                <div class="thirdRow">
                    <el-form-item prop="area"style="float: left;" label="面积">
                        <el-input v-model="ruleForm.area" style="width: 100px;"><span slot="suffix">平米</span></el-input>
                    </el-form-item>
                    <el-form-item prop="whichfloor"style="float: left;" label="楼层信息">
                        <el-input v-model="ruleForm.whichfloor" style="width: 100px;"><span slot="prefix">第</span><span slot="suffix">层</span></el-input>
                    </el-form-item>
                    <el-form-item prop="totalfloor"style="float: left;">
                        <el-input v-model="ruleForm.totalfloor" style="width: 100px;"><span slot="prefix">共</span><span slot="suffix">层</span></el-input>
                    </el-form-item>
                    <div style="clear: both;"></div>
                </div>
                <div class="forthRow">
                    <el-form-item prop="facing" label="朝向">
                        <template>
                            <el-select v-model="ruleForm.facing" placeholder="请选择朝向">
                                <el-option
                                        v-for="item in facing"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                </div>

            </div>

        </el-card>


        <el-card class="box-card" style="width: 800px;height: 465px" v-bind:class="house2">
            <div slot="header" class="clearfix">
                <span>房屋配置</span>
                <i style="float: right;" class="el-icon-document"></i>
            </div>
            <div  class="text item" >
                <div class="fisrtRow">
                    <el-form-item label="电梯" prop="elevator">
                        <el-select v-model="ruleForm.elevator" placeholder="是否有电梯">
                            <el-option
                                    v-for="item in elevator"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">

                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="车位" prop="parking">
                        <el-select v-model="ruleForm.parking" placeholder="是否有车位">
                            <el-option
                                    v-for="item in parking"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">

                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="配套设施" prop="facility">
                        <el-checkbox-group v-model="ruleForm.facility">
                            <el-checkbox label="网络" name="internet" ></el-checkbox>
                            <el-checkbox label="床" name="bed" >床</el-checkbox>
                            <el-checkbox label="沙发" name="sofa"  >沙发</el-checkbox>
                            <el-checkbox label="桌椅" name="chair"  ></el-checkbox>
                            <el-checkbox label="电视" name="TV"  ></el-checkbox>
                            <el-checkbox label="空调" name="AC"  ></el-checkbox>
                            <el-checkbox label="冰箱" name="refrigerator"  ></el-checkbox>
                            <el-checkbox label="洗衣机" name="washer"  ></el-checkbox>
                            <el-checkbox label="燃气" name="washer" ></el-checkbox>
                            <el-checkbox label="阳台" name="colony" ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>

                    <div style="clear:both;"></div>
                </div>

            </div>
        </el-card>


        <el-card class="box-card" style="width: 800px;height: 465px" v-bind:class="house3">
            <div slot="header" class="clearfix">
                <span>租房方式和租金细节</span>
                <i style="float: right;" class="el-icon-document"></i>
            </div>
            <div  class="text item" >
                <div class="fisrtRow">
                    <el-form-item label="出租方式" prop="rentMethods">
                        <el-checkbox-group v-model="ruleForm.rentMethods">
                            <el-checkbox label="托管" name="allCharged" ></el-checkbox>
                            <el-checkbox label="整租" name="together" ></el-checkbox>
                            <el-checkbox label="合租" name="split"  ></el-checkbox>
                            <el-checkbox label="装修出租" name="decoration" ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="一致性 Consistency" name="1">
                            <div>与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；</div>
                            <div>在界面中一致：所有的元素和结构需保持一致，比如：设计样式、图标和文本、元素的位置等。</div>
                        </el-collapse-item>
                    </el-collapse>
                    <el-form-item prop="price" label="月租金">
                        <el-input v-model="ruleForm.price" style="width: 100px;"><span slot="prefix">￥</span><span slot="suffix">/月</span></el-input>
                    </el-form-item>
                    <el-form-item label="最早入住" required prop="moveinDate">
                        <el-date-picker type="date" placeholder="选择日期" v-model="ruleForm.moveinDate" style="width: 200px;"></el-date-picker>
                    </el-form-item>
                    <el-form-item label="租金包含" prop="includedService">
                        <el-checkbox-group v-model="ruleForm.includedService">
                            <el-checkbox label="水费" name="internet" ></el-checkbox>
                            <el-checkbox label="电费" name="bed" ></el-checkbox>
                            <el-checkbox label="燃气费" name="sofa"  ></el-checkbox>
                            <el-checkbox label="宽带费" name="chair"  ></el-checkbox>
                            <el-checkbox label="物业费" name="TV"  ></el-checkbox>
                            <el-checkbox label="有线电视费" name="AC"  ></el-checkbox>
                            <el-checkbox label="停车费" name="refrigerator"  ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                </div>

            </div>
        </el-card>

        <el-card class="box-card" style="width: 800px;" v-bind:class="house4">
            <div slot="header" class="clearfix">
                <span>其他信息</span>
                <i style="float: right;" class="el-icon-document"></i>
            </div>
            <div  class="text item" >
                <div class="fisrtRow">
                    <el-form-item label="租客要求" prop="rentRequirement">
                        <el-checkbox-group v-model="ruleForm.rentRequirement">
                            <el-checkbox label="禁烟" name="internet" ></el-checkbox>
                            <el-checkbox label="禁宠物" name="bed" ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>

                    <el-form-item label="钥匙" prop="key">
                        <el-radio-group v-model="ruleForm.key">
                            <el-radio label="1">交钥匙</el-radio>
                            <el-radio label="0">拒绝交钥匙</el-radio>
                        </el-radio-group>
                    </el-form-item>

                    <el-form-item label="看房时间" prop="checkAptList">
                        <el-checkbox-group v-model="ruleForm.checkAptList">
                            <el-checkbox label="周末" name="internet" ></el-checkbox>
                            <el-checkbox label="工作日" name="bed" ></el-checkbox>
                            <el-checkbox label="随时看房" name="bed" ></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>

                    <el-form-item label="房源描述" prop="description" style="width: 600px;">
                        <el-input type="textarea" v-model="ruleForm.description"></el-input>
                    </el-form-item>
                </div>

            </div>
            <el-form-item>
                <el-button type="primary" @click="onSubmit('ruleForm')">提交</el-button>
            </el-form-item>
        </el-card>
        <!--<el-button style="margin-top: 12px;" @click="before">上一步</el-button>-->
        <el-button v-bind:class="butNext" style="margin-top: 12px; width:220px; float: right; margin-right: 99px" @click="next('ruleForm')">下一步</el-button>
        <el-button v-bind:class="butReturn" style="margin-top: 12px; width:220px; float:left; margin-right: 99px" @click="before">上一步</el-button>
    </el-form>
</div>
</body>
<script>
    new Vue({
        el:'#app',
        data() {
            return {
                butNext:{
                    btNext:false
                },
                butReturn:{
                  btReturn:true
                },
                activeNames:['1'],
                house1:{
                     div1:false
                },
                house2:{
                    div2:true
                },
                house3:{
                    div3:true
                },
                house4:{
                    div4:true
                },
                active: 0,
                ruleForm:{
                    city:'上海',
                    district:'',
                    community:'暖元小区',
                    bedrooms:'',
                    bathrooms:'',
                    livingrooms:'',
                    area:'',
                    whichfloor:'',
                    totalfloor:'',
                    facing:'东',
                    facility:[],
                    includedService:[],
                    rentMethods:[],
                    rentRequirement:[],
                    key:'',
                    checkAptList:[]
                },
                facing:[{value:'1',label:'东'},{value:'西',label:'西'},{value:'南',label:'南'},{value:'北',label:'北'},
                    {value:'东北',label:'东北'},{value:'西北',label:'西北'},{value:'西南',label:'西南'},{value:'东南',label:'东南'}],value:'',
                elevator:[{value:1,label:'有电梯'},{value:0,label:'无电梯'}],value:'',
                parking:[{value:1,label:'有车位'},{value:0,label:'无车位'}],value:'',
                rules:{
                    city:[{required:true,message:'请填写房屋所在市',trigger:'blur'}],
                    district:[{required:true,message:'请填写房屋所在区',trigger:'blur'}],
                    community:[{required:true,message:'请填写房屋所在小区名',trigger:'blur'}],
                    bedrooms:[{required:true,message:'请填写卧室',trigger:'blur'}],
                    bathrooms:[{required:true,message:'请填写卫生间',trigger:'blur'}],
                    livingrooms:[{required:true,message:'请填写厅',trigger:'blur'}],
                    area:[{required:true,message:'请填写房面积',trigger:'blur'}],
                    whichfloor:[{required:true,message:'请填写层数',trigger:'blur'}],
                    totalfloor:[{required:true,message:'请填写总楼层',trigger:'blur'}],
                    facing:[{required:true,message:'请选择朝向',trigger:'change'}],
                    elevator:[{required:true,message:'请选择是否有电梯',trigger:'change'}],
                    parking:[{required:true,message:'请选择是否车位',trigger:'change'}],
                    rentMethods:[{type:'array',required:true,message:'请选择出租方式',trigger:'change'}],
                    price:[{required:true,message:'请填写月租金',trigger:'blur'}],
                    key:[{required:true,message:'请选择是否交钥匙',trigger:'change'}],
                    checkAptList:[{type:'array',required:true,message:'请选择看房时间',trigger:'change'}],
                    description:[{required:true,message:'请填写房源描述',trigger:'blur'}]
                }
            };
        },
        //事件
        methods: {
            before:function(){ },
            next:function(forName) {
                let vue =this;
                //if (this.active++ > 3) this.active = 4;
                this.$refs[forName].validate((valid) => {
                    if (!valid) {
                        alert("123");
                        let bz =vue.active++;
                        alert(bz)
                        if(bz==1) {
                            this.house1.div1 = true;
                            this.house2.div2 = false;
                            alert(bz);
                        }
                        if(bz==2){
                            this.house2.div2=true;
                            this.house3.div3=false;
                        }
                        if(bz==3){
                            this.house3.div3=true;
                            this.house4.div4=false;
                        }
                    }else {

                    }
                });

            },
            onSubmit:function(forName){
                this.$refs[forName].validate((valid)=>{
                    if (valid) {
                        //往后台发送ajax请求 ，校验用户名和密码
                        axios.post('publishApt',this.ruleForm)
                            .then(function (res) {
                                //如果登录成功
                                if(res.data.success){
                                    Vue.prototype.$message.success("发布房源成功，等待审核");
                                    //window.location.href="index";
                                } else{
                                    Vue.prototype.$message.error(res.data.error);
                                }
                            })
                            .catch(function (error) {
                                Vue.prototype.$message.error("服务区异常，请联系管理员");
                            })
                    }
                });
            },
            handleChange:function () {

            }
        }
    })
</script>
</html>