<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.project.dao.AdminAuditDao">
    <select id="listAll" resultType="aaa.project.entity.Apartment">
      SELECT a1.*,aps.*,u.name,u.tel FROM apartmentinfo1 a1
      LEFT JOIN
        apt_status aps on a1.state=aps.statusid
      LEFT JOIN
       user u on a1.uid=u.id
      WHERE
      a1.state=1
    </select>
    <update id="pass">
        update apartmentinfo1 set state=2 where aptNum=#{newAptNum}
    </update>
    <select id="bindingbutton" resultType="aaa.project.entity.Admin">
      select * from admin where r_id=3
    </select>
    <update id="binding">
      update apartmentinfo1 set aid=#{id} where aptNum=#{AptNum}
    </update>
   <resultMap id="aptMap" type="aaa.project.entity.Apartment" autoMapping="true">
   <association property="owerContract" javaType="aaa.project.entity.OwerContract" autoMapping="true">
   <id column="cid" property="cid"></id>
   </association>
   </resultMap>
    <select id="publishlistAll" resultMap="aptMap">
        SELECT * FROM apartmentinfo1 a1
        LEFT JOIN
        apt_status aps on a1.state=aps.statusid
        LEFT JOIN
        user u on a1.uid=u.id
         LEFT JOIN
        apartmentinfo3 a3 on a1.aptNum=a3.aptNum
        LEFT JOIN
        owercontract o on o.aptNum=a1.aptNum
        WHERE
        a1.state=5
    </select>


    <update id="updateState">
        update apartmentinfo1 set state=3 where aptNum=#{newAptNum}
    </update>

    <update id="updateprice">
        update apartmentinfo3 set price=#{price} where aptNum=#{aptNum}
    </update>
</mapper>
