<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.project.dao.AdminPayToFdDao">
    <resultMap id="contractMap" type="aaa.project.entity.OwerContract" autoMapping="true">
        <id column="cid" property="cid"></id>
        <association property="apartment" javaType="aaa.project.entity.Apartment" autoMapping="true"></association>
        <association property="user" javaType="aaa.project.entity.User" autoMapping="true">
        <id column="id" property="id"></id>        </association>
    </resultMap>

    <select id="findowercontract" resultMap="contractMap">
        SELECT * from owercontract o LEFT  JOIN  apartmentinfo1 a on o.aptNum=a.aptNum
        left join user u on o.owerid=u.id
        <where>
            <if test="keyword!=null">
                  nextTime like '%${keyword}'
            </if>
        </where>
    </select>
</mapper>