<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.project.dao.ContractDao">
    <select id="findAptById" resultType="aaa.project.entity.Apartment">
        SELECT * from apartmentinfo1 where aptNum=#{aptNum}
    </select>
    <select id="findFd" resultType="aaa.project.entity.User">
        SELECT * from user where identification=#{identification}
    </select>
    <insert id="saveaddress">
        update apartmentinfo1  set address=#{address}  where aptNum=#{aptNum}
    </insert>
    <insert id="addtocontract">
        insert into owerContract(pid,pway,money,date1,date2) VALUES(#{pid},#{pway},#{money},#{date1},#{date2})
    </insert>
    <insert id="savecontract">
        update owerContract set aptNum=#{aptNum},owerid=#{owerid} where pid=#{pid}
    </insert>
    <select id="findcontract" resultType="aaa.project.entity.OwerContract">
        SELECT * from owerContract where pid=#{pid}
    </select>

    <insert id="addzkcontract">
        insert into tenant_contract(pid,pway,money,date1,date2,peroid) VALUES(#{pid},#{pway},#{money},#{date1},#{date2},#{peroid})
    </insert>
    <select id="findzkcontract" resultType="aaa.project.entity.OwerContract">
        SELECT * from tenant_contract where pid=#{pid}
    </select>
    <insert id="savezkcontract">
        update tenant_contract set aptNum=#{aptNum},tenantid=#{tenantid} where pid=#{pid}
    </insert>
</mapper>
