<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aaa.project.dao.QueryContractDao">
    <resultMap id="owerMap" type="aaa.project.entity.OwerContract" autoMapping="true">
        <association property="user" autoMapping="true" javaType="aaa.project.entity.User">
        </association>
    </resultMap>

    <select id="listContract" resultMap="owerMap">
        select * from owercontract o LEFT JOIN user u on u.id=o.owerid
        <if test=" keyword =='' ">
             ORDER BY aptNum desc limit #{start},#{pageSize}
        </if>
        <if test=" keyword !='' ">
            <where>
                    aptNum=#{keyword} ORDER BY aptNum desc
                <if test="start!= null and pageSize!=null">
                    limit #{start},#{pageSize}
                </if>
            </where>
        </if>
    </select>
    <select id="countContract" resultType="java.lang.Integer">
          select count(*) from owercontract
          <where>
              <if test=" keyword !='' ">
                  aptNum=#{keyword}
              </if>
          </where>
    </select>
</mapper>